@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ClimateCrisisKR-1979';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

body, #root {
    font-family: 'Paperlogy-8ExtraBold', sans-serif !important;
}
h1 {
     font-family: 'ClimateCrisisKR-1979', sans-serif !important;
}
